PORT=3000
MONGO_URI=mongodb://localhost:27017/myapp111
MONGO_DB_NAME=backend_cap1
JWT_SECRET=your_jwt_secret_key
JWT_EXPRIES_IN=7d

# Stripe Configuration
STRIPE_PRIVATE_KEY=sk_test_your_stripe_secret_key_here
STRIPE_PUBLIC_KEY=pk_test_your_stripe_public_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Google Gemini (chatbot)
GEMINI_API_KEY=AIzaSyAnMgp68y0tIu1NHyLAxX2UB4wPXt1QOYY
GEMINI_MODEL=gemini-2.5-flash

